<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}


{{ember-chart type='Line' data=model.chartData width=200 height=200 legend=true}}

{{!-- {{ember-chart type='Pie' data=model.chartData width=200 height=200}} --}}
